.lsql_history
*.build
*.pyc
*.out
*.xcf
*.egg
.eggs/
.pytest_cache/
build/
dist/
venv/

# temporary files from vim and emacs
*~
*#
.#*
*.swp
*.swo

# Editor project files
*.komodo*
.cache
.idea
.vscode/

# Mac
.DS_Store
